{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'applications/style.css' %}" />

{% if application_list %}
    <ul>
    {% for application in application_list %}
        <li><a href="/applications/{{ application.id }}/">{{ application.company }}</a>
        	<ul>
        		<li>{{ application.title }}</li>
        		<li>{{ application.salary_low }}</li>
        		<li>{{ application.salary_high }}</li>
        		<li>{{ application.equity_low }}</li>
        		<li>{{ application.equity_high }}</li>
        		<li>{{ application.site_used }}</li>
        		<li>{{ application.resume_used }}</li>
        		<li>{{ application.cover_used }}</li>
        		<li>{{ application.notes }}</li>
        	</ul>	
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have not yet created an application. Get started.</p>
{% endif %}